@font-face {
  font-family: "iconfont"; /* Project id 2659748 */
  src: url('iconfont.woff2?t=1625792262433') format('woff2'),
       url('iconfont.woff?t=1625792262433') format('woff'),
       url('iconfont.ttf?t=1625792262433') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-false:before {
  content: "\e600";
}

.icon-true:before {
  content: "\e679";
}

.icon-captcha:before {
  content: "\e656";
}

.icon-email:before {
  content: "\e605";
}

.icon-user:before {
  content: "\e614";
}

.icon-pswd:before {
  content: "\e62a";
}

